[build-system]
requires = ["flit_core >=3.11,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "onedigit"
dynamic = ["version"]
description = "Onedigit arithmetic puzzle"
authors = [
    { name = "Juan Rubio", email = "jcrubio@gmail.com" },
]
keywords = [
    "arithmetic-game",
    "math",
    "puzzle",
]
dependencies = [
    "fire",
]
requires-python = ">=3.12"
readme = "README.md"
license = { text = "MIT" }
classifiers = [
    "Environment :: Console",
    "Intended Audience :: End Users/Desktop",
    "Private :: Do Not Upload",
    "Topic :: Games/Entertainment :: Puzzle Games",
]


[tool.bandit]
exclude_dirs = ["tests", ".venv"]

[tool.coverage.html]
directory = "coverage_html_report"

[tool.mypy]
check_untyped_defs          = true
disallow_any_generics       = true
disallow_any_unimported     = true # To offset someone having 'ignore_missing_imports'
disallow_incomplete_defs    = true
disallow_untyped_decorators = true
disallow_untyped_defs       = true # TOP
no_implicit_optional        = true
show_error_codes            = true
warn_redundant_casts        = true
warn_return_any             = true
warn_unused_ignores         = true

[tool.ruff]
line-length = 120

[tool.ruff.lint]
extend-select = [
    "I", # isort
    "W", # pycodestyle
]

[tool.ruff.lint.pydocstyle]

[dependency-groups]
lint = [
    "mypy",
    "ruff",
]
test = [
    "bandit[toml]",
    "hypothesis[cli]",
    "pytest",
    "pytest-cov",
]
