name: Continuous Integration for Python

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true


jobs:
  test:
    name: Test main package
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.12"
          - "3.14"
        os:
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    permissions:
      contents: read

    steps:
      - name: Check out the code
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
          python-version: ${{ matrix.python-version }}

      - name: Install Task
        uses: go-task/setup-task@v1
        with:
          version: 3.45.x

      - name: Install Python dependencies
        run: task setup

      - name: Static analysis on main code
        run: task check:code

      # Run static analysis on tests separately.
      # Some tools inject knowledge of the main codebase into tests, which is acceptable for CI.
      # However, IDEs may not do this, so we validate types in tests independently.
      - name: Static analysis on tests
        run: task check:tests

      - name: Run tests on codebase (pytest)
        run: task test
